body {
    font: 16px/28px arial, sans-serif;
    background-color: pink;
    color: black;
}

.container {
    width: 800px;
    margin: auto;
    background-color: white;
}

.container2 {
    width: 800px;
    margin: auto;
    background-color: salmon;
}

.header .judul {
    font-size: 20px;
    font-weight: bold;
}

.header2 ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px ;
}

.header2 a {
    text-decoration: none;
    color: white;
}

.header2 a:hover {
    background-color: lightblue;
    color : white;
}

.foto {
    height: 200px;
    background-image: url(pict1.jpg);
    background-size: cover;
    background-position: 0 -110px;
    border-bottom: 5px solid turquoise;
    border-top: 5px solid lightskyblue;
}

#nav {
    line-height:30px;
    text-align: justify;
    background-color: skyblue;
    height:500px;
    width:250px;
    float:left;
    padding:10px;
}

#section {
    width:350px;
    float:left;
    padding:10px;
}

.container3 {
    margin : auto;
    width : auto;
}

.galeri {
    width : 80px;
    height: 80px;
    margin : 10px;
    background-color : skyblue;
    color: white;
    border: 3px solid black;
    float : left;
    text-align : center;
    line-height : 80px;
    position: relative;
    left: 50px;

}

.clear {
    width: auto;
    float: left;
    position: relative;
    left: 60px;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}